.nagoyameshi-login-text {
    font-family: YuGo;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: blue;
}

.top {
    height: 1000px;
    background: url(../img/cooking.jpg);
    background-size: cover;
    color: black;
}

.box {
    background-color: white;
}

option:disabled {
    color: blue;
}

.star {
    color: gold;
}

.avg-score {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cccccc;
}

.avg-score:before,
.avg-score:after {
    content: "★★★★★";
}

.avg-score:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.avg-score:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.avg-score[data-id="5"]:after {
    width: 100%;
}
.avg-score[data-id="4.5"]:after {
    width: 90%;
}
.avg-score[data-id="4"]:after {
    width: 80%;
}
.avg-score[data-id="3.5"]:after {
    width: 70%;
}
.avg-score[data-id="3"]:after {
    width: 60%;
}
.avg-score[data-id="2.5"]:after {
    width: 50%;
}
.avg-score[data-id="2"]:after {
    width: 40%;
}
.avg-score[data-id="1.5"]:after {
    width: 30%;
}
.avg-score[data-id="1"]:after {
    width: 20%;
}
.avg-score[data-id="0.5"]:after {
    width: 10%;
}
.avg-score[data-id="0"]:after {
    width: 0%;
}

/* クレカ登録 */
.MyCardElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
    border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
    background-color: #fefde5 !important;
}
